@use "../styles/variables/" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title-wrapper {
    margin-bottom: 2.4em;

    .title {
      @include laptop {
        font-size: 3.8rem;
      }
    }
  }

  .food-wrapper {
    display: grid;

    @include laptop {
      grid-template-columns: repeat(4, 1fr);
      gap: 6em 1.5em;
    }
  }
}
