@use "../../styles/variables" as *;

header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow-anchor: none;
  padding-top: 2em;

  @include mobile {
    padding-right: 3.5%;
    padding-left: 3.5%;
  }

  @include laptop {
    padding-right: initial;
    padding-left: initial;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: $prompt;
      font-size: 4.5rem;
    }

    .login-button {
      color: $white;
      background-color: $black_500;
      border-radius: 1.8rem;
      font-size: 1.4rem;
      padding: 1.2rem 2.5rem;
    }

    .language-button {
      font-size: 2rem;
    }
  }
}
